<!doctype html>
<html lang="zh-cn" data-ng-app="FileManagerApp">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="theme-color" content="#4e64d9"/>
    <title>后台主页</title>
    <script src="<{STATIC_PATH}>/js/jquery.min.js"></script>
    <link rel="stylesheet" href="<{STATIC_PATH}>/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="<{STATIC_PATH}>/css/material.css"/>
    <script src="<{STATIC_PATH}>/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="<{STATIC_PATH}>/css/font-awesome.min.css">
    <link href="<{STATIC_PATH}>/css/angular-filemanager.min.css" rel="stylesheet">
    <link href="<{STATIC_PATH}>/css/toastr.min.css" rel="stylesheet">
    <script type="text/javascript" src="<{STATIC_PATH}>/js/toastr.min.js"></script>
    <script type="text/javascript">
    </script>

    <link rel="stylesheet" href="<{STATIC_PATH}>/css/setting.css"/>
    <style type="text/css">
        .col-md-3 {
            padding-right: 15px;
            padding-left: 15px;
        }

        .divcss5-left {
            float: left;
        }
    </style>
</head>
<body>
<div id="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">

                </a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle avatar-a" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"><img src="<{$smarty.session.gravatar}>" alt="" class="img-circle avatar-s" > <{$smarty.session.user}> <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/?m=admin">管理面板</a></li>
                            <li><a href="/?m=admin&c=User&a=userDashBroad">查看注册</a></li>
                            <li><a href="/?m=admin&c=Admin&a=settingAction">设置</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/?m=home&c=User&a=doLogout">退出登录</a></li>
                        </ul>
                    </li>
                    <li class="mobile-addition">
                        <a href="/?m=admin&c=Index&a=indexAction" role="button" aria-haspopup="true"><i class="fa fa-share-alt"
                                                                                  aria-hidden="true"></i> 信息汇总</a>
                    </li>
                    <li class="mobile-addition">
                        <a href="/?m=admin&c=User&a=userDashBroad" role="button" aria-haspopup="true"><i class="fa fa-search"
                                                                                        aria-hidden="true"></i> 注册用户</a>
                    </li>
                    <li class="mobile-addition">
                        <a href="/?m=admin&c=IllegalScan&a=illegalScanUserDashBroad" role="button" aria-haspopup="true"><i class="fa fa-picture-o"
                                                                                    aria-hidden="true"></i> 非法扫描</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="col-md-2 s" id="side">
        <div class="list-group" id="b">
            <a href="/?m=admin&c=Index&a=indexAction" class="list-group-item">
                <i class="fa fa-file" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 信息汇总
            </a>
            <a href="/?m=admin&c=User&a=userDashBroad" class="list-group-item"> <i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
                注册用户
            </a>
            <a href="/?m=admin&c=IllegalScan&a=illegalScanUserDashBroad" class="list-group-item">
                <i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 非法扫描
            </a>
            <a href="/?m=admin&c=Admin&a=settingAction" class="list-group-item">
                <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 设置
            </a>
        </div>
    </div>
    <{block name="content"}><{/block}>
</div>
</body>
<script src="<{STATIC_PATH}>/js/material.js"></script>
</html>