<{extends file="layout.html"}>
<{block name="content"}>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">树莓派+人脸识别</h1>
        <div class="row center">
            <h5 class="header col s12 light">基于树莓派+OpenCV+Python3+Php的人脸识别项目</h5>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">现在就开始</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">轻量级</h5>

                    <p class="light">我们使用树莓派作为人脸识别的载体，进行一个微小的嵌入式开发，让树莓派变得更酷，树莓派体型小，便于安装在任何地方，价格低，可以实现我们的大部分的需求。轻量级的人脸设别设备，正在你的眼前呈现</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">人脸准确识别</h5>

                    <p class="light">基于最新的OpenCV图像识别库，使用Python3进行开发，可以比较准确的识别出目标，并且作出相应的判断，基于深度学习的代码思想，可以将图片转化为yml进行信息的储存。</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">容易使用</h5>

                    <p class="light">我们使用python编写了一个GUI对话框，可以更加方便用户的使用，同时我们使用PHP编写了web端的控制台和数据汇总中心，可以记录进行人脸识别的每一位用户的时间，图片，状态。实现云同步</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>
<{/block}>